<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Facts</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click for a new scrape</a></p>
    </div>

    <!-- Mars News Section -->
    <div class="row" id="mars-news">
      <div class="col-md-12">
        <h3 class="heading">Mars Latest News</h3>
        <h4 class="heading">{{news_title }}</h4>
        <small>{{news_p}}</small>
      </div>

    <!-- Featured Mars Image and Mars Facts Table Section -->
      <div class="row" id="mars-featured">
         <div class="col-md-8">
           <h3 class="heading">Featured Mars Image</h3>
           <img src={{mars_data.reatrued_image_url}}
         </div>

         <div clas = "row">
           <div class="col-md-12"
            <div class="table">
              <div class="table-body">
                <h4>Mars Facts</h4>
                <p>{{mars_data.mars_facts</p>

              </div>
         </div>

          

       </div>
  
    </div>

  </div>
</body>

</html>

